/* Projects.css */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 205vh;  /* Ajusta la altura para que se ajuste al contenido */

}

.projects-container {
    display: flex; /* Cambiado de grid a flex */
    flex-direction: column; /* Añadido para alinear los proyectos verticalmente */
    width: 75%; /* Ajustado para que el contenedor ocupe el 80% del ancho */
    margin: 0 auto; /* Centrado horizontalmente */
}

.title-projects {
    margin-bottom: 10px !important; /* ajusta este valor según tus necesidades */
    color: #DB82FE;
    font-size: 3em;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .projects-container {
        width: 90%;
    }

    .title-projects {
        margin-bottom: 50px !important; /* ajusta este valor según tus necesidades */
    }
}

/* Projects.css */

.project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -50px  !important;
}

.parent-container {
    display: flex;
    flex-direction: column;
}

.shield-container-top, .shield-container-bottom {
    display: flex;
}

.shield-image {
    margin-right: 5px !important;
    margin-top: 5px !important;
}

@keyframes boing {
    0% { transform: scale(1); }
    20% { transform: scale(1.1); }
    40% { transform: scale(1); }
    60% { transform: scale(1.1); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.shield-image:hover {
    animation: boing 0.6s;
}

