/* Projects.css */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
    display: flex; /* Cambiado de grid a flex */
    flex-direction: column; /* Añadido para alinear los proyectos verticalmente */
    width: 65%; /* Ajustado para que el contenedor ocupe el 80% del ancho */
    margin: 0 auto; /* Centrado horizontalmente */
}

.title-projects {
    margin-bottom: 10px !important; /* ajusta este valor según tus necesidades */
    color: #DB82FE;
    font-size: 3em;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .projects-container {
        width: 90%;
    }

    .title-projects {
        margin-bottom: 50px !important; /* ajusta este valor según tus necesidades */
    }
}