.see-more {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .see-more a {
    color: white;
  }
  
  .see-more a:hover {
    color: #DB82FE;
  }
