.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: white;
}

.contact-form h1 {
  text-align: center;
  color: #333;
}

.contact-form label {
  margin: 10px 0;
  color: #555;
  flex: 1; /* Add this */
}

.contact-form input, .contact-form textarea {
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex: 1; /* Add this */
}

.contact-form textarea {
  resize: none;
  height: 100px;
  width: 96%;

}
.contact-form input[type="submit"] {
  width: 100%; 
  height: 3px !important; 
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;
}

.input-field {
  position: relative;
  margin-bottom: 2rem;
}

.input-field input {
  padding: 10px 0.3rem;
  height: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.25s ease-in;
}

.input-field input:focus {
  border-bottom-color: #8a02a5;
}

.input-field label {
  position: absolute;
  padding-left: 10px ;
  top: 0;
  left: 0;
  color: #999;
  font-size: 1rem; /* Aumenta el tamaño de la fuente */
  transition: all 0.25s ease-in;
}

.input-field input:valid + label,
.input-field input:focus + label,
.input-field textarea:valid + label,
.input-field textarea:focus + label {
  top: -2.1rem;
  left: 0;
  padding-left: 0; /* Elimina el padding-left */
  color: #8a02a5;
  font-size: 1.2rem;
}